@import "../../styles/variables.scss";

.app {
  background-color: #262732;
}

.detail {
  width: 320px;
  color: $white;
  margin-left: auto;
  margin-right: auto;
  background-color: $black;
  padding-top: 32px;
  height: 100vh;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
    text-align: start;
  }

  &__info {
    display: flex;
    text-align: start;
    height: 23px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    color: $white;
    margin: 0;
    margin-bottom: 16px;
  }

  &__name {
    width: 65px;
    color: $color-detail-name;
  }

  &__missions {
    text-align: start;
  }

  &__launches {
    margin-top: 8px;
    display: block;
  }
}
