@import "../../styles/variables.scss";

.app {
  background-color: #262732;
}

.main {
  width: 320px;
  color: $white;
  margin-left: auto;
  margin-right: auto;
  background-color: $black;
  padding-top: 32px;
  height: 100vh;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;

  .title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}