@import "../../variables.scss";

.select_wrapper {
  width: 306px;
  position: relative;
  padding: 1px;
  transition: all 0.5s ease-out;
  border-radius: 5px;
  height: 48px;
  margin-bottom: 32px;
  outline: none;
  z-index: 200;
}

.select {
  box-sizing: border-box;
  width: 304px;
  min-height: 46px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  transition: all 0.5s ease-out;
  outline: none;
  background-color: $light-gray-bg;
  font-size: 16px;
  line-height: 22px;
}

.select_wrapper:focus-within {
  background: linear-gradient(to bottom, $color-gradient-first, $color-gradient-second);
}

.menu {
  box-sizing: border-box;
  width: 304px;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.5s ease-out;
  outline: none;
  background-color: $light-gray-bg;
  top: 46px;
  position: absolute;
  z-index: 100;
}