@import "../../variables.scss";

.ship {
  width: 384px;
  min-height: 153px;
  background-color: $dark-gray-bg;
  border-radius: 8px;
  margin-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;

  &__title {
    font-weight: 500;
    font-size: 22px;
  }

  &__detail {
    display: inline-block;
    width: 40px;
    margin-right: 24px;
  }
}
