@import "../../styles/variables.scss";

.ship {
  color: $white;
  text-decoration: none;

  &__item {
    width: 304px;
    min-height: 153px;
    background-color: $dark-gray-bg;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: all .3s ease-in-out;
  }

  &__item:hover {
    background-color: $color-hover-bg;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    word-break: break-word;
  }

  &__detail {
    display: inline-block;
    width: 40px;
    margin-right: 24px;
    color: $color-detail-name;
  }
}
