@import "../../styles/variables.scss";

.app {
  width: 320px;
  color: $white;
  margin-left: auto;
  margin-right: auto;
  background-color: $black;
  padding-top: 32px;

  .main,
  .title {
    padding-left: 8px;
    padding-right: 8px;
  }

  .title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 21px;
  }
}

@media (min-width: $tablet-width) {
  .app {
    width: 768px;
    box-sizing: border-box;

    .main,
    .title {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .app {
    width: 1920px;
  }

  .main {

  }
}
