@import "../../variables.scss";

.filters {
  width: 320px;
  color: $white;
  background-color: $dark-gray-bg;
  min-height: 658px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 32px;
  margin-bottom: 27px;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: $dark-gray-bg;
  border: none;
  margin-right: 8px;
}

.title_container {
  display: flex;
  width: 143px;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  width: 103px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

.filters_box {
  border: none;
}

.label {
  width: 66px;
  color: $color-label;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.input_wrapper {
  width: 306px;
  position: relative;
  padding: 1px;
  transition: all 0.5s ease-out;
  border-radius: 5px;
  margin-bottom: 32px;
}

.input {
  all: unset;
  background-color: $light-gray-bg;
  width: 304px;
  height: 46px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.5s ease-out;
}

.input_wrapper:focus-within {
   background: linear-gradient(to bottom, $color-gradient-first, $color-gradient-second);
}
